.body-form {
    background-image: url(../img/background-code-black-2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    font-family: Impact, serif;
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(5px);
    margin: 50px auto;
}

form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 400px;
    position: relative;
    box-shadow: 0 0 20px #00f0ff, 0 0 40px #00f0ff inset;
    transition: transform 0.3s, box-shadow 0.3s;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 2.2em;
    -webkit-text-stroke: 0.2px black;
    color: #fff;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

input, select, textarea {
    width: 100%;
    padding: 14px 12px 14px 12px;
    margin-left: -10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: 2px solid #424141;
    border-radius: 15px;
    font-family: Impact, serif;
    font-size: 1em;
    transition: all 0.3s ease;
    box-shadow: 
        0 0 10px #00f0ff, 
        0 0 15px #00f0ff inset;
    transition: transform 0.3s, box-shadow 0.3s;
}

textarea {
    resize: vertical;
    height: 250px;
    margin-left: -10px;
}

label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #ccc;
    font-size: 1em;
    pointer-events: none;
    transition: all 0.3s ease;
}

input:focus + label,
input:not(:placeholder-shown) + label,
textarea:focus + label,
textarea:not(:placeholder-shown) + label,
select:focus + label,
select:not([value=""]) + label {
    top: -10px;
    left: 10px;
    font-size: 0.85em;
    color: #ffffff;
    padding: 0 5px;
}

input:focus, select:focus, textarea:focus {
    border-color: #00aaff;
    outline: none;
    box-shadow: 0 0 5px #00aaff;
}

select option[disabled] {
    color: #888;
}

button {
    width: 80%;
    padding: 12px;
    margin-left: 10%;
    background: #0074D9;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-family: Impact, serif;
    font-size: 1em;
    box-shadow: 
        0 0 20px #00f0ff, 
        0 0 40px #00f0ff inset;
    transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background: #005fa3;
}

#form-success {
    text-align: center;
    font-weight: bold;
    color: #00ff99;
    margin-top: 10px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 12px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    border: 2px solid #424141;
    border-radius: 15px;
    font-family: Impact, serif;
    font-size: 1em;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}

select option {
    padding: 8px;
}

select::-webkit-scrollbar {
    width: 8px;
}

select::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
    background: #0074D9;
    border-radius: 10px;
}

select::-webkit-scrollbar-thumb:hover {
    background: #005fa3;
}

select {
    scrollbar-width: thin;
    scrollbar-color: #0074D9 rgba(255,255,255,0.1);
}

// select {
//     background-image: url('../img/flecha-abajo.svg');
//     background-repeat: no-repeat;
//     background-position: right 10px center;
//     background-size: 15px;
//     padding-right: 30px;
// }

/* Burbuja de WhatsApp */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}
.whatsapp-float:hover {
    transform: scale(1.1);
}
.whatsapp-float img {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 500px) {
    form {
        width: 90%;
        padding: 20px;
    }

    button {
        width: 90%;
        margin-left: 5%;
    }
}
