body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #000000;
    background-size: cover;
    color: #fff;
}

.main-container {
    width: 75%;
    max-width: auto;
    margin: 40px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
}

.h1-main {
    margin-bottom: 20px;
    font-family: $font2;
    font-size: 3em;
    color: #ffffff;
    text-align: center;
    font-weight: 1000;
    text-shadow:
        0 0 20px #00f0ff,
        0 0 30px #00f0ff,
        0 0 40px #00f0ff,
        0 0 50px #00f0ff;
}
.video-container {
    text-align: center;
}

video {
    border: 2px solid #00f0ff;
    border-radius: 50px;
    max-width: 100%;
    height: auto;
    box-shadow:
        0 0 10px #ffffff,
        0 0 20px #00f0ff,
        0 0 30px #ffffff,
        0 0 40px #00f0ff;
}


